@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    overflow: hidden;
}

#foto {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 120%;
}

#mensage {
    text-align: center;
}

section {
    background-color: white;
    width: 50%;
    padding: 25px;
    
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.233);
    margin: auto;
    margin-top: 15%;
    opacity: 0.9;

}

h1 {
    color: black;
}


#msg {
    text-align: center;
    margin-top: 15px;
    color: black;
    font-size: 18px;
}

